# ---- Config Server (git backend) ----
SO_CONFIG_GIT_URI=https://github.com/parenatr/parena.git
SO_CONFIG_GIT_BRANCH=main

SO_CONFIG_GIT_USERNAME=
SO_CONFIG_GIT_TOKEN=

# ---- Keycloak (auth server) ----
SO_KEYCLOAK_REALM=parena
SO_KEYCLOAK_AUTH_SERVER_URL=
SO_KEYCLOAK_ADMIN_CLIENT_ID=
SO_KEYCLOAK_ADMIN_CLIENT_SECRET=