# ---- Config Server (git backend) ----
SO_CONFIG_GIT_URI=https://github.com/parenatr/parena.git
SO_CONFIG_GIT_BRANCH=main

SO_CONFIG_SECURITY_USER=
SO_CONFIG_SECURITY_PASSWORD=

# ---- Keycloak (auth server) ----
SO_KEYCLOAK_DB_USER=
SO_KEYCLOAK_DB_PASSWORD=

SO_KEYCLOAK_ADMIN=
SO_KEYCLOAK_ADMIN_PASSWORD= 

# ---- BFF-server (Spring Boot) ----
SO_REDIS_PASSWORD=
SO_BFF_CLIENT_SECRET=
SO_USER_SERVICE_CLIENT_SECRET=
SO_BFF_BASE_URL=http://localhost:8989
SO_FRONTEND_BASE_URL=http://localhost:5173

SO_SMTP_USER=
SO_SMTP_PASSWORD=

# ---- User Service (Spring Boot) ----
SO_USER_SERVICE_DB_USER=
SO_USER_SERVICE_DB_PASSWORD=