# ==========================
# Java / Maven
# ==========================

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.kotlin

# ==========================
# IntelliJ IDEA
# ==========================

.idea/
*.iml
*.iws
*.ipr

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Eclipse
# ==========================

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ==========================
# NetBeans
# ==========================

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

build/
!**/src/main/**/build/
!**/src/test/**/build/

# ==========================
# Node.js / React
# ==========================

**/node_modules/
**/dist/
**/.vite/
**/.npm/

# Package Managers
.pnpm-store/
.yarn/
.yarn-cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/

# ==========================
# Environment Files
# ==========================

.env
.env.*

# Example env files should be committed
!.env.example

# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db

npm_data/
npm_letsencrypt/
*.save